---
---

@import "{{ site.theme }}";

a {
	color: #373737;
}

a:hover {
    text-decoration: none;
	color: #717171;
}


.dashed_underline {
    background: url("../images/bg_hr.png") repeat-x bottom;
}

.d-inline {
    display: inline!important;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

li {
    display: inline;
    padding: 6px;
}